

.navbar-container{
    min-width: 335px;
    height: 100%;

    z-index: 3;
}

.navbar-sticky{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  position: fixed;
  overflow: hidden;

  min-width: 335px;
  height: 100%;

  border-right: 1px solid rgb(219, 219, 219);
  
}

.navbar-content{
  display: flex;

  flex-direction: column;

  gap: 50px;
  padding: 30px 0 0 30px;
}

.navbar-logo-text{
    font-size: 26px;

    padding-left: 10px;

    cursor: pointer;
}

.navbar-buttons-group{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;

  gap: 20px;

  width: 270px;
}

.navbar-user-logo{
  width: 30px;
  height: 30px;

  border-radius: 50%;
}

.navbar-button{
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  gap: 10px;
  padding-left: 10px;

  width: 100%;
  min-height: 48px;

  border-radius: 20px;

  cursor: pointer;

}

.navbar-button:hover{
  background-color: rgb(250, 250, 250);
  // background-color: blueviolet;

}

.navbar-button-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-hamburger-container{
  position: relative;

  padding: 0 0 30px 30px;
}

.navbar-hamburger-button{
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 10px;
  gap: 10px;
  border-radius: 20px;

  width: 270px;
  min-height: 48px;

  cursor: pointer;
}
.navbar-hamburger-button:hover{
  background-color: rgb(250, 250, 250);
  // background-color: blueviolet;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.dropdown-content{
  display: none;
}

.dropdown-content-show {
  display: flex;

  flex-direction: column;

  position: absolute;
  // background-color: #f1f1f1;
  min-width: 240px;
  // height: 200px;

  bottom: 100px;

  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar-dropdown-button{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 15px;
  padding-right: 15px;

  width: auto;
  height: 45px;

  border-radius: 5px;

  background-color: #ffffff;

  cursor: pointer;
}

.navbar-dropdown-button:hover{
  background-color: rgb(250, 250, 250);
}